{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Blog</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Welcome to the Blog</h1>
            <button class="logout-button">Logout</button>
        </div>
    </header>
    <main>

        <section class="welcome-section">
            <h2 class="my-blog">{{posts.title}}</h2>

        </section>

        <article class="blog">
            <h2 class="blog-title"> {{posts.title}} </h2>
            <p class="blog-content">{{posts.description }}</p>
            <span class="blog-date">Posted on: {{posts.created_at}}</span>
        </article>

        </section>
    </main>
</body>
</html>
